@{
    ViewData["Title"] = "Controle de Gastos";
}

<h2>Relatório de Gastos</h2>

@{
    var mes = ViewBag.Mes;
    var ano = ViewBag.Ano;
    var dias = ViewBag.Dias;

    var diasSerializados = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(dias));

}

<p><canvas id="grafico" width="400" height="150"></canvas></p>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <script>
        var mes = @diasSerializados;
        
        $(document).ready(function (){
            var ctx = $('#grafico');
            const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: mes,
                    datasets: [{
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                     }]
                },
                options: { 
                    legend: {
                        display: false
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

}

